# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of `go build`
*.out

# Test binary, coverage files
*.test
*.coverprofile
*.cov

# Dependency directories (if using vendoring)
vendor/

# Go workspace file
go.work
go.work.sum

# Logs
*.log

#All env files
.env
.env.stg
.env.prod

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Build cache
/tmp/
